.navbar-default {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

#housing-authority {
  padding-top: 5px;
}

header .intro-text {
  padding-top: 100px;
}

header .intro-text .intro-lead-in {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

/*header {
  background-size: 100% 100%;
  background-repeat: none;
}*/

.rectangle {
    width: 500px;
    height: 175px;
    opacity: 0.8;
    background: #619e2f;
    margin-top: 50px;
}

.rect-text {
  padding-right: 24px;
  padding-left: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
}

.form-group .home input {
    width: 400px;
}

#home-button {
  background-color: #0072bc;
  border-color: #0072bc;
  color: white;
}

.cal-heading {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 30px;
}

.facts {
  text-align: left;
}

.facts-heading {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 900;
}

#cal-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0072bc;
  border-color: #0072bc;
  color: white;
}

#cal-header {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 50px;
  margin-top: 20px;
  text-align: left;
}

#tenants {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 900;
  padding-bottom: 10px;
  padding-top: 50px;
  margin-top: 20px;
  text-align: left;
}

