<!-- Maps Section -->
<section id="maps">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Map</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
    </div>
    <div class="row">
		<div class="col-md-6">
			<img src="https://lh6.googleusercontent.com/q0CXP6kw9yTiDNkB2pdTQExys_Ih_e0QVb02ITBaZbyeWi_bVTYp_emueJQWp0K9kCaCqorK-kO27zhhQlutXjUxJffpLlcUSDl9ujF_nfRoHiXKJZw" alt="fake_map" width="100%">
		</div>
		<div class="col-md-6 fixed-height">
			<!--API testing-->
			<form action="/map" method="get">
				<!-- <input type="hidden" name="_zwsid" value="X1-ZWz1az100jazgr_82rpe">
				<input type="text" name="_streetaddress" placeholder="Enter the Street Address"> #use.join("+")
				<input type="text" name="_city" placeholder="Enter the City">
				<input type="text" name="_state" placeholder="Enter the State"> -->
				<input type="submit" value="Get API">
			</form><!--/ API testing-->
			<h5><%= @address %></h5>
			<h7>Neighborhood: <%= @neighborhood%></h7>
			<h7>School District: < %= @schooldistrict%></h7>
			<img src="<%= @imgsrc %>" alt="Picture for <%= @address %>" />
			<!--Listing Info-->
			<div class="col-md-6">
			<table class="table table-stripped">
				<tr>
					<td>Rooms</td>
					<td>< %= @roomtype %></td>
				</tr>
				<tr>
					<td>Sq. Ft.</td>
					<td>< %= @sqft %></td>
				</tr>
				<tr>
					<td>Lot Sq. Ft.</td>
					<td>< %= @lotsqft %></td>
				</tr>
				<tr>
					<td>Family Size</td>
					<td>< %= @familysize %></td>
				</tr>
				<tr>
					<td>Year Built</td>
					<td>< %= @yearbuilt %></td>
				</tr>
				<tr>
					<td>Roof</td>
					<td>< %= @roof %></td>
				</tr>
				<tr>
					<td>Heating System</td>
					<td>< %= @heatingsystem %></td>
				</tr>
			</table>
			</div>
			<div class="col-md-6">
			<table class="col-md-3 table table-stripped">
				<tr>
					<td>Bedroom Count</td>
					<td>< %= @bedrooms %></td>
				</tr>
				<tr>
					<td>Bathroom Count</td>
					<td>< %= @bathrooms %></td>
				</tr>
				<tr>
					<td>Last Sold Date</td>
					<td>< %= @lastsolddate %></td>
				</tr>
				<tr>
					<td>Last Sold Price</td>
					<td>< %= @lastsoldprice %></td>
				</tr>
				<tr>
					<td>Number of Floors</td>
					<td>< %= @numoffloors %></td>
				</tr>
				<tr>
					<td>Year Updated</td>
					<td>< %= @yearupdated %></td>
				</tr>
			</table>
			</div><!--/End Listing Info-->
			<!-- Mortage Calculator Widget Starts -->
			<div id="horizontalWidget" style="width:370px;overflow:hidden;margin: 0 auto;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#dbdbdb;letter-spacing:0;text-transform:none;border-radius: 5px;webkit-border-radius:5px;">
				<div style="margin:6px 0;">
					<a href="http://www.zillow.com/mortgage-calculator/" target="_blank" title="Mortgage Calculators on Zillow" style="font-family:Arial;font-size:15px;text-decoration:none;font-weight:bold;color:#666666;cursor: pointer;display: block;text-align: center;text-shadow: 0 1px #fff;">Estimate Payment</a>
				</div>
				<div style="width:352px;margin:0 auto;background-color:#f4f4f4;text-align:left; font-size:8pt;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 0 1px;">
					<iframe title="Mortgage Calculator" frameborder="0" height="235px" style="float:left;" scrolling="no" width="352px" src="http://www.zillow.com/mortgage/SmallMortgageLoanCalculatorWidget.htm?price=400000&wtype=spc&rid=102001&wsize=small&textcolor=666666&backgroundColor=f4f4f4&advTabColor=9b9b9b&bgcolor=dbdbdb&bgtextcolor=666666&headerTextShadow=fff&widgetOrientationType=horizontalWidget">
					</iframe>
				<div style="clear:both;"></div>
				</div>
				<div style="height:20px;">
					<span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#666666;padding-top:2px;"><a href="http://www.zillow.com/mortgage-rates/" target="_blank" title="Zillow Mortgages" style="text-decoration:none;color:#3366bb;font-weight:normal;font-family:verdana,arial,sans-serif;font-size:7pt;color:#666666;">Zillow Mortgage Calculator</a>
					</span>
				</div>
			</div><!-- /Mortage Calculator Ends -->
		</div>

<!-- <ul>
		<li>
			<a href="http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id=X1-ZWz1az100jazgr_82rpe&address=2114+Bigelow+Ave&citystatezip=Seattle%2C+WA">GetDeepSearchResults</a>
		</li>
		<li>
			<a href="http://www.zillow.com/webservice/GetUpdatedPropertyDetails.htm?zws-id=X1-ZWz1az100jazgr_82rpe&zpid=48749425">GetUpdatedPropertyDetails API</a>
		</li>
		<li>
			<a href="http://www.zillow.com/webservice/GetDeepComps.htm?zws-id=X1-ZWz1az100jazgr_82rpe&zpid=48749425&count=5">GetDeepComps API</a>
		</li>
	</ul> -->
	</div>
</div>
</section>